USE [master]
GO
/****** Object:  Database [gestures_training_data]    Script Date: 2/27/2018 12:06:18 AM ******/
CREATE DATABASE [gestures_training_data]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestures_training_data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestures_training_data]
GO
USE [gestures_training_data]
GO
/****** Object:  Table [dbo].[mytable]    Script Date: 2/27/2018 12:06:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mytable](
	[d0_bases000] [float] NOT NULL,
	[d0_bases001] [float] NOT NULL,
	[d0_bases002] [float] NOT NULL,
	[d0_bases010] [float] NOT NULL,
	[d0_bases011] [float] NOT NULL,
	[d0_bases012] [float] NOT NULL,
	[d0_bases020] [float] NOT NULL,
	[d0_bases021] [float] NOT NULL,
	[d0_bases022] [float] NOT NULL,
	[d0_bases100] [float] NOT NULL,
	[d0_bases101] [float] NOT NULL,
	[d0_bases102] [float] NOT NULL,
	[d0_bases110] [float] NOT NULL,
	[d0_bases111] [float] NOT NULL,
	[d0_bases112] [float] NOT NULL,
	[d0_bases120] [float] NOT NULL,
	[d0_bases121] [float] NOT NULL,
	[d0_bases122] [float] NOT NULL,
	[d0_bases200] [float] NOT NULL,
	[d0_bases201] [float] NOT NULL,
	[d0_bases202] [float] NOT NULL,
	[d0_bases210] [float] NOT NULL,
	[d0_bases211] [float] NOT NULL,
	[d0_bases212] [float] NOT NULL,
	[d0_bases220] [float] NOT NULL,
	[d0_bases221] [float] NOT NULL,
	[d0_bases222] [float] NOT NULL,
	[d0_bases300] [float] NOT NULL,
	[d0_bases301] [float] NOT NULL,
	[d0_bases302] [float] NOT NULL,
	[d0_bases310] [float] NOT NULL,
	[d0_bases311] [float] NOT NULL,
	[d0_bases312] [float] NOT NULL,
	[d0_bases320] [float] NOT NULL,
	[d0_bases321] [float] NOT NULL,
	[d0_bases322] [float] NOT NULL,
	[d0_btipPosition0] [float] NOT NULL,
	[d0_btipPosition1] [float] NOT NULL,
	[d0_btipPosition2] [float] NOT NULL,
	[d0_carpPosition0] [float] NOT NULL,
	[d0_carpPosition1] [float] NOT NULL,
	[d0_carpPosition2] [float] NOT NULL,
	[d0_dipPosition0] [float] NOT NULL,
	[d0_dipPosition1] [float] NOT NULL,
	[d0_dipPosition2] [float] NOT NULL,
	[d0_direction0] [float] NOT NULL,
	[d0_direction1] [float] NOT NULL,
	[d0_direction2] [float] NOT NULL,
	[d0_extended] [varchar](50) NOT NULL,
	[d0_handId] [int] NOT NULL,
	[d0_id] [int] NOT NULL,
	[d0_length] [float] NOT NULL,
	[d0_mcpPosition0] [float] NOT NULL,
	[d0_mcpPosition1] [float] NOT NULL,
	[d0_mcpPosition2] [float] NOT NULL,
	[d0_pipPosition0] [float] NOT NULL,
	[d0_pipPosition1] [float] NOT NULL,
	[d0_pipPosition2] [float] NOT NULL,
	[d0_stabilizedTipPosition0] [float] NOT NULL,
	[d0_stabilizedTipPosition1] [float] NOT NULL,
	[d0_stabilizedTipPosition2] [float] NOT NULL,
	[d0_timeVisible] [float] NOT NULL,
	[d0_tipPosition0] [float] NOT NULL,
	[d0_tipPosition1] [float] NOT NULL,
	[d0_tipPosition2] [float] NOT NULL,
	[d0_touchDistance] [bit] NOT NULL,
	[d0_type] [bit] NOT NULL,
	[d0_width] [float] NOT NULL,
	[d0_GlobalParameters_Database_server_name] [varchar](50) NOT NULL,
	[d0_Answer] [varchar](50) NOT NULL,
	[d1_bases000] [float] NOT NULL,
	[d1_bases001] [float] NOT NULL,
	[d1_bases002] [float] NOT NULL,
	[d1_bases010] [float] NOT NULL,
	[d1_bases011] [float] NOT NULL,
	[d1_bases012] [float] NOT NULL,
	[d1_bases020] [float] NOT NULL,
	[d1_bases021] [float] NOT NULL,
	[d1_bases022] [float] NOT NULL,
	[d1_bases100] [float] NOT NULL,
	[d1_bases101] [float] NOT NULL,
	[d1_bases102] [float] NOT NULL,
	[d1_bases110] [float] NOT NULL,
	[d1_bases111] [float] NOT NULL,
	[d1_bases112] [float] NOT NULL,
	[d1_bases120] [float] NOT NULL,
	[d1_bases121] [float] NOT NULL,
	[d1_bases122] [float] NOT NULL,
	[d1_bases200] [float] NOT NULL,
	[d1_bases201] [float] NOT NULL,
	[d1_bases202] [float] NOT NULL,
	[d1_bases210] [float] NOT NULL,
	[d1_bases211] [float] NOT NULL,
	[d1_bases212] [float] NOT NULL,
	[d1_bases220] [float] NOT NULL,
	[d1_bases221] [float] NOT NULL,
	[d1_bases222] [float] NOT NULL,
	[d1_bases300] [float] NOT NULL,
	[d1_bases301] [float] NOT NULL,
	[d1_bases302] [float] NOT NULL,
	[d1_bases310] [float] NOT NULL,
	[d1_bases311] [float] NOT NULL,
	[d1_bases312] [float] NOT NULL,
	[d1_bases320] [float] NOT NULL,
	[d1_bases321] [float] NOT NULL,
	[d1_bases322] [float] NOT NULL,
	[d1_btipPosition0] [float] NOT NULL,
	[d1_btipPosition1] [float] NOT NULL,
	[d1_btipPosition2] [float] NOT NULL,
	[d1_carpPosition0] [float] NOT NULL,
	[d1_carpPosition1] [float] NOT NULL,
	[d1_carpPosition2] [float] NOT NULL,
	[d1_dipPosition0] [float] NOT NULL,
	[d1_dipPosition1] [float] NOT NULL,
	[d1_dipPosition2] [float] NOT NULL,
	[d1_direction0] [float] NOT NULL,
	[d1_direction1] [float] NOT NULL,
	[d1_direction2] [float] NOT NULL,
	[d1_extended] [varchar](50) NOT NULL,
	[d1_handId] [int] NOT NULL,
	[d1_id] [int] NOT NULL,
	[d1_length] [float] NOT NULL,
	[d1_mcpPosition0] [float] NOT NULL,
	[d1_mcpPosition1] [float] NOT NULL,
	[d1_mcpPosition2] [float] NOT NULL,
	[d1_pipPosition0] [float] NOT NULL,
	[d1_pipPosition1] [float] NOT NULL,
	[d1_pipPosition2] [float] NOT NULL,
	[d1_stabilizedTipPosition0] [float] NOT NULL,
	[d1_stabilizedTipPosition1] [float] NOT NULL,
	[d1_stabilizedTipPosition2] [float] NOT NULL,
	[d1_timeVisible] [float] NOT NULL,
	[d1_tipPosition0] [float] NOT NULL,
	[d1_tipPosition1] [float] NOT NULL,
	[d1_tipPosition2] [float] NOT NULL,
	[d1_touchDistance] [float] NOT NULL,
	[d1_type] [int] NOT NULL,
	[d1_width] [float] NOT NULL,
	[d2_bases000] [float] NOT NULL,
	[d2_bases001] [float] NOT NULL,
	[d2_bases002] [float] NOT NULL,
	[d2_bases010] [float] NOT NULL,
	[d2_bases011] [float] NOT NULL,
	[d2_bases012] [float] NOT NULL,
	[d2_bases020] [float] NOT NULL,
	[d2_bases021] [float] NOT NULL,
	[d2_bases022] [float] NOT NULL,
	[d2_bases100] [float] NOT NULL,
	[d2_bases101] [float] NOT NULL,
	[d2_bases102] [float] NOT NULL,
	[d2_bases110] [float] NOT NULL,
	[d2_bases111] [float] NOT NULL,
	[d2_bases112] [float] NOT NULL,
	[d2_bases120] [float] NOT NULL,
	[d2_bases121] [float] NOT NULL,
	[d2_bases122] [float] NOT NULL,
	[d2_bases200] [float] NOT NULL,
	[d2_bases201] [float] NOT NULL,
	[d2_bases202] [float] NOT NULL,
	[d2_bases210] [float] NOT NULL,
	[d2_bases211] [float] NOT NULL,
	[d2_bases212] [float] NOT NULL,
	[d2_bases220] [float] NOT NULL,
	[d2_bases221] [float] NOT NULL,
	[d2_bases222] [float] NOT NULL,
	[d2_bases300] [float] NOT NULL,
	[d2_bases301] [float] NOT NULL,
	[d2_bases302] [float] NOT NULL,
	[d2_bases310] [float] NOT NULL,
	[d2_bases311] [float] NOT NULL,
	[d2_bases312] [float] NOT NULL,
	[d2_bases320] [float] NOT NULL,
	[d2_bases321] [float] NOT NULL,
	[d2_bases322] [float] NOT NULL,
	[d2_btipPosition0] [float] NOT NULL,
	[d2_btipPosition1] [float] NOT NULL,
	[d2_btipPosition2] [float] NOT NULL,
	[d2_carpPosition0] [float] NOT NULL,
	[d2_carpPosition1] [float] NOT NULL,
	[d2_carpPosition2] [float] NOT NULL,
	[d2_dipPosition0] [float] NOT NULL,
	[d2_dipPosition1] [float] NOT NULL,
	[d2_dipPosition2] [float] NOT NULL,
	[d2_direction0] [float] NOT NULL,
	[d2_direction1] [float] NOT NULL,
	[d2_direction2] [float] NOT NULL,
	[d2_extended] [varchar](50) NOT NULL,
	[d2_handId] [int] NOT NULL,
	[d2_id] [int] NOT NULL,
	[d2_length] [float] NOT NULL,
	[d2_mcpPosition0] [float] NOT NULL,
	[d2_mcpPosition1] [float] NOT NULL,
	[d2_mcpPosition2] [float] NOT NULL,
	[d2_pipPosition0] [float] NOT NULL,
	[d2_pipPosition1] [float] NOT NULL,
	[d2_pipPosition2] [float] NOT NULL,
	[d2_stabilizedTipPosition0] [float] NOT NULL,
	[d2_stabilizedTipPosition1] [float] NOT NULL,
	[d2_stabilizedTipPosition2] [float] NOT NULL,
	[d2_timeVisible] [float] NOT NULL,
	[d2_tipPosition0] [float] NOT NULL,
	[d2_tipPosition1] [float] NOT NULL,
	[d2_tipPosition2] [float] NOT NULL,
	[d2_touchDistance] [float] NOT NULL,
	[d2_type] [int] NOT NULL,
	[d2_width] [float] NOT NULL,
	[d3_bases000] [float] NOT NULL,
	[d3_bases001] [float] NOT NULL,
	[d3_bases002] [float] NOT NULL,
	[d3_bases010] [float] NOT NULL,
	[d3_bases011] [float] NOT NULL,
	[d3_bases012] [float] NOT NULL,
	[d3_bases020] [float] NOT NULL,
	[d3_bases021] [float] NOT NULL,
	[d3_bases022] [float] NOT NULL,
	[d3_bases100] [float] NOT NULL,
	[d3_bases101] [float] NOT NULL,
	[d3_bases102] [float] NOT NULL,
	[d3_bases110] [float] NOT NULL,
	[d3_bases111] [float] NOT NULL,
	[d3_bases112] [float] NOT NULL,
	[d3_bases120] [float] NOT NULL,
	[d3_bases121] [float] NOT NULL,
	[d3_bases122] [float] NOT NULL,
	[d3_bases200] [float] NOT NULL,
	[d3_bases201] [float] NOT NULL,
	[d3_bases202] [float] NOT NULL,
	[d3_bases210] [float] NOT NULL,
	[d3_bases211] [float] NOT NULL,
	[d3_bases212] [float] NOT NULL,
	[d3_bases220] [float] NOT NULL,
	[d3_bases221] [float] NOT NULL,
	[d3_bases222] [float] NOT NULL,
	[d3_bases300] [float] NOT NULL,
	[d3_bases301] [float] NOT NULL,
	[d3_bases302] [float] NOT NULL,
	[d3_bases310] [float] NOT NULL,
	[d3_bases311] [float] NOT NULL,
	[d3_bases312] [float] NOT NULL,
	[d3_bases320] [float] NOT NULL,
	[d3_bases321] [float] NOT NULL,
	[d3_bases322] [float] NOT NULL,
	[d3_btipPosition0] [float] NOT NULL,
	[d3_btipPosition1] [float] NOT NULL,
	[d3_btipPosition2] [float] NOT NULL,
	[d3_carpPosition0] [float] NOT NULL,
	[d3_carpPosition1] [float] NOT NULL,
	[d3_carpPosition2] [float] NOT NULL,
	[d3_dipPosition0] [float] NOT NULL,
	[d3_dipPosition1] [float] NOT NULL,
	[d3_dipPosition2] [float] NOT NULL,
	[d3_direction0] [float] NOT NULL,
	[d3_direction1] [float] NOT NULL,
	[d3_direction2] [float] NOT NULL,
	[d3_extended] [varchar](50) NOT NULL,
	[d3_handId] [int] NOT NULL,
	[d3_id] [int] NOT NULL,
	[d3_length] [float] NOT NULL,
	[d3_mcpPosition0] [float] NOT NULL,
	[d3_mcpPosition1] [float] NOT NULL,
	[d3_mcpPosition2] [float] NOT NULL,
	[d3_pipPosition0] [float] NOT NULL,
	[d3_pipPosition1] [float] NOT NULL,
	[d3_pipPosition2] [float] NOT NULL,
	[d3_stabilizedTipPosition0] [float] NOT NULL,
	[d3_stabilizedTipPosition1] [float] NOT NULL,
	[d3_stabilizedTipPosition2] [float] NOT NULL,
	[d3_timeVisible] [float] NOT NULL,
	[d3_tipPosition0] [float] NOT NULL,
	[d3_tipPosition1] [float] NOT NULL,
	[d3_tipPosition2] [float] NOT NULL,
	[d3_touchDistance] [float] NOT NULL,
	[d3_type] [bit] NOT NULL,
	[d3_width] [float] NOT NULL,
	[d4_bases000] [float] NOT NULL,
	[d4_bases001] [float] NOT NULL,
	[d4_bases002] [float] NOT NULL,
	[d4_bases010] [float] NOT NULL,
	[d4_bases011] [float] NOT NULL,
	[d4_bases012] [float] NOT NULL,
	[d4_bases020] [float] NOT NULL,
	[d4_bases021] [float] NOT NULL,
	[d4_bases022] [float] NOT NULL,
	[d4_bases100] [float] NOT NULL,
	[d4_bases101] [float] NOT NULL,
	[d4_bases102] [float] NOT NULL,
	[d4_bases110] [float] NOT NULL,
	[d4_bases111] [float] NOT NULL,
	[d4_bases112] [float] NOT NULL,
	[d4_bases120] [float] NOT NULL,
	[d4_bases121] [float] NOT NULL,
	[d4_bases122] [float] NOT NULL,
	[d4_bases200] [float] NOT NULL,
	[d4_bases201] [float] NOT NULL,
	[d4_bases202] [float] NOT NULL,
	[d4_bases210] [float] NOT NULL,
	[d4_bases211] [float] NOT NULL,
	[d4_bases212] [float] NOT NULL,
	[d4_bases220] [float] NOT NULL,
	[d4_bases221] [float] NOT NULL,
	[d4_bases222] [float] NOT NULL,
	[d4_bases300] [float] NOT NULL,
	[d4_bases301] [float] NOT NULL,
	[d4_bases302] [float] NOT NULL,
	[d4_bases310] [float] NOT NULL,
	[d4_bases311] [float] NOT NULL,
	[d4_bases312] [float] NOT NULL,
	[d4_bases320] [float] NOT NULL,
	[d4_bases321] [float] NOT NULL,
	[d4_bases322] [float] NOT NULL,
	[d4_btipPosition0] [float] NOT NULL,
	[d4_btipPosition1] [float] NOT NULL,
	[d4_btipPosition2] [float] NOT NULL,
	[d4_carpPosition0] [float] NOT NULL,
	[d4_carpPosition1] [float] NOT NULL,
	[d4_carpPosition2] [float] NOT NULL,
	[d4_dipPosition0] [float] NOT NULL,
	[d4_dipPosition1] [float] NOT NULL,
	[d4_dipPosition2] [float] NOT NULL,
	[d4_direction0] [float] NOT NULL,
	[d4_direction1] [float] NOT NULL,
	[d4_direction2] [float] NOT NULL,
	[d4_extended] [varchar](50) NOT NULL,
	[d4_handId] [int] NOT NULL,
	[d4_id] [int] NOT NULL,
	[d4_length] [float] NOT NULL,
	[d4_mcpPosition0] [float] NOT NULL,
	[d4_mcpPosition1] [float] NOT NULL,
	[d4_mcpPosition2] [float] NOT NULL,
	[d4_pipPosition0] [float] NOT NULL,
	[d4_pipPosition1] [float] NOT NULL,
	[d4_pipPosition2] [float] NOT NULL,
	[d4_stabilizedTipPosition0] [float] NOT NULL,
	[d4_stabilizedTipPosition1] [float] NOT NULL,
	[d4_stabilizedTipPosition2] [float] NOT NULL,
	[d4_timeVisible] [float] NOT NULL,
	[d4_tipPosition0] [float] NOT NULL,
	[d4_tipPosition1] [float] NOT NULL,
	[d4_tipPosition2] [float] NOT NULL,
	[d4_touchDistance] [float] NOT NULL,
	[d4_type] [bit] NOT NULL,
	[d4_width] [float] NOT NULL,
	[d5_bases000] [float] NOT NULL,
	[d5_bases001] [float] NOT NULL,
	[d5_bases002] [float] NOT NULL,
	[d5_bases010] [float] NOT NULL,
	[d5_bases011] [float] NOT NULL,
	[d5_bases012] [float] NOT NULL,
	[d5_bases020] [float] NOT NULL,
	[d5_bases021] [float] NOT NULL,
	[d5_bases022] [float] NOT NULL,
	[d5_bases100] [float] NOT NULL,
	[d5_bases101] [float] NOT NULL,
	[d5_bases102] [float] NOT NULL,
	[d5_bases110] [float] NOT NULL,
	[d5_bases111] [float] NOT NULL,
	[d5_bases112] [float] NOT NULL,
	[d5_bases120] [float] NOT NULL,
	[d5_bases121] [float] NOT NULL,
	[d5_bases122] [float] NOT NULL,
	[d5_bases200] [float] NOT NULL,
	[d5_bases201] [float] NOT NULL,
	[d5_bases202] [float] NOT NULL,
	[d5_bases210] [float] NOT NULL,
	[d5_bases211] [float] NOT NULL,
	[d5_bases212] [float] NOT NULL,
	[d5_bases220] [float] NOT NULL,
	[d5_bases221] [float] NOT NULL,
	[d5_bases222] [float] NOT NULL,
	[d5_bases300] [float] NOT NULL,
	[d5_bases301] [float] NOT NULL,
	[d5_bases302] [float] NOT NULL,
	[d5_bases310] [float] NOT NULL,
	[d5_bases311] [float] NOT NULL,
	[d5_bases312] [float] NOT NULL,
	[d5_bases320] [float] NOT NULL,
	[d5_bases321] [float] NOT NULL,
	[d5_bases322] [float] NOT NULL,
	[d5_btipPosition0] [float] NOT NULL,
	[d5_btipPosition1] [float] NOT NULL,
	[d5_btipPosition2] [float] NOT NULL,
	[d5_carpPosition0] [float] NOT NULL,
	[d5_carpPosition1] [float] NOT NULL,
	[d5_carpPosition2] [float] NOT NULL,
	[d5_dipPosition0] [float] NOT NULL,
	[d5_dipPosition1] [float] NOT NULL,
	[d5_dipPosition2] [float] NOT NULL,
	[d5_direction0] [float] NOT NULL,
	[d5_direction1] [float] NOT NULL,
	[d5_direction2] [float] NOT NULL,
	[d5_extended] [varchar](50) NOT NULL,
	[d5_handId] [int] NOT NULL,
	[d5_id] [int] NOT NULL,
	[d5_length] [float] NOT NULL,
	[d5_mcpPosition0] [float] NOT NULL,
	[d5_mcpPosition1] [float] NOT NULL,
	[d5_mcpPosition2] [float] NOT NULL,
	[d5_pipPosition0] [float] NOT NULL,
	[d5_pipPosition1] [float] NOT NULL,
	[d5_pipPosition2] [float] NOT NULL,
	[d5_stabilizedTipPosition0] [float] NOT NULL,
	[d5_stabilizedTipPosition1] [float] NOT NULL,
	[d5_stabilizedTipPosition2] [float] NOT NULL,
	[d5_timeVisible] [float] NOT NULL,
	[d5_tipPosition0] [float] NOT NULL,
	[d5_tipPosition1] [float] NOT NULL,
	[d5_tipPosition2] [float] NOT NULL,
	[d5_touchDistance] [float] NOT NULL,
	[d5_type] [int] NOT NULL,
	[d5_width] [float] NOT NULL,
	[d6_bases000] [float] NOT NULL,
	[d6_bases001] [float] NOT NULL,
	[d6_bases002] [float] NOT NULL,
	[d6_bases010] [float] NOT NULL,
	[d6_bases011] [float] NOT NULL,
	[d6_bases012] [float] NOT NULL,
	[d6_bases020] [float] NOT NULL,
	[d6_bases021] [float] NOT NULL,
	[d6_bases022] [float] NOT NULL,
	[d6_bases100] [float] NOT NULL,
	[d6_bases101] [float] NOT NULL,
	[d6_bases102] [float] NOT NULL,
	[d6_bases110] [float] NOT NULL,
	[d6_bases111] [float] NOT NULL,
	[d6_bases112] [float] NOT NULL,
	[d6_bases120] [float] NOT NULL,
	[d6_bases121] [float] NOT NULL,
	[d6_bases122] [float] NOT NULL,
	[d6_bases200] [float] NOT NULL,
	[d6_bases201] [float] NOT NULL,
	[d6_bases202] [float] NOT NULL,
	[d6_bases210] [float] NOT NULL,
	[d6_bases211] [float] NOT NULL,
	[d6_bases212] [float] NOT NULL,
	[d6_bases220] [float] NOT NULL,
	[d6_bases221] [float] NOT NULL,
	[d6_bases222] [float] NOT NULL,
	[d6_bases300] [float] NOT NULL,
	[d6_bases301] [float] NOT NULL,
	[d6_bases302] [float] NOT NULL,
	[d6_bases310] [float] NOT NULL,
	[d6_bases311] [float] NOT NULL,
	[d6_bases312] [float] NOT NULL,
	[d6_bases320] [float] NOT NULL,
	[d6_bases321] [float] NOT NULL,
	[d6_bases322] [float] NOT NULL,
	[d6_btipPosition0] [float] NOT NULL,
	[d6_btipPosition1] [float] NOT NULL,
	[d6_btipPosition2] [float] NOT NULL,
	[d6_carpPosition0] [float] NOT NULL,
	[d6_carpPosition1] [float] NOT NULL,
	[d6_carpPosition2] [float] NOT NULL,
	[d6_dipPosition0] [float] NOT NULL,
	[d6_dipPosition1] [float] NOT NULL,
	[d6_dipPosition2] [float] NOT NULL,
	[d6_direction0] [float] NOT NULL,
	[d6_direction1] [float] NOT NULL,
	[d6_direction2] [float] NOT NULL,
	[d6_extended] [varchar](50) NOT NULL,
	[d6_handId] [int] NOT NULL,
	[d6_id] [int] NOT NULL,
	[d6_length] [float] NOT NULL,
	[d6_mcpPosition0] [float] NOT NULL,
	[d6_mcpPosition1] [float] NOT NULL,
	[d6_mcpPosition2] [float] NOT NULL,
	[d6_pipPosition0] [float] NOT NULL,
	[d6_pipPosition1] [float] NOT NULL,
	[d6_pipPosition2] [float] NOT NULL,
	[d6_stabilizedTipPosition0] [float] NOT NULL,
	[d6_stabilizedTipPosition1] [float] NOT NULL,
	[d6_stabilizedTipPosition2] [float] NOT NULL,
	[d6_timeVisible] [float] NOT NULL,
	[d6_tipPosition0] [float] NOT NULL,
	[d6_tipPosition1] [float] NOT NULL,
	[d6_tipPosition2] [float] NOT NULL,
	[d6_touchDistance] [float] NOT NULL,
	[d6_type] [int] NOT NULL,
	[d6_width] [float] NOT NULL,
	[d7_bases000] [float] NOT NULL,
	[d7_bases001] [float] NOT NULL,
	[d7_bases002] [float] NOT NULL,
	[d7_bases010] [float] NOT NULL,
	[d7_bases011] [float] NOT NULL,
	[d7_bases012] [float] NOT NULL,
	[d7_bases020] [float] NOT NULL,
	[d7_bases021] [float] NOT NULL,
	[d7_bases022] [float] NOT NULL,
	[d7_bases100] [float] NOT NULL,
	[d7_bases101] [float] NOT NULL,
	[d7_bases102] [float] NOT NULL,
	[d7_bases110] [float] NOT NULL,
	[d7_bases111] [float] NOT NULL,
	[d7_bases112] [float] NOT NULL,
	[d7_bases120] [float] NOT NULL,
	[d7_bases121] [float] NOT NULL,
	[d7_bases122] [float] NOT NULL,
	[d7_bases200] [float] NOT NULL,
	[d7_bases201] [float] NOT NULL,
	[d7_bases202] [float] NOT NULL,
	[d7_bases210] [float] NOT NULL,
	[d7_bases211] [float] NOT NULL,
	[d7_bases212] [float] NOT NULL,
	[d7_bases220] [float] NOT NULL,
	[d7_bases221] [float] NOT NULL,
	[d7_bases222] [float] NOT NULL,
	[d7_bases300] [float] NOT NULL,
	[d7_bases301] [float] NOT NULL,
	[d7_bases302] [float] NOT NULL,
	[d7_bases310] [float] NOT NULL,
	[d7_bases311] [float] NOT NULL,
	[d7_bases312] [float] NOT NULL,
	[d7_bases320] [float] NOT NULL,
	[d7_bases321] [float] NOT NULL,
	[d7_bases322] [float] NOT NULL,
	[d7_btipPosition0] [float] NOT NULL,
	[d7_btipPosition1] [float] NOT NULL,
	[d7_btipPosition2] [float] NOT NULL,
	[d7_carpPosition0] [float] NOT NULL,
	[d7_carpPosition1] [float] NOT NULL,
	[d7_carpPosition2] [float] NOT NULL,
	[d7_dipPosition0] [float] NOT NULL,
	[d7_dipPosition1] [float] NOT NULL,
	[d7_dipPosition2] [float] NOT NULL,
	[d7_direction0] [float] NOT NULL,
	[d7_direction1] [float] NOT NULL,
	[d7_direction2] [float] NOT NULL,
	[d7_extended] [varchar](50) NOT NULL,
	[d7_handId] [int] NOT NULL,
	[d7_id] [int] NOT NULL,
	[d7_length] [float] NOT NULL,
	[d7_mcpPosition0] [float] NOT NULL,
	[d7_mcpPosition1] [float] NOT NULL,
	[d7_mcpPosition2] [float] NOT NULL,
	[d7_pipPosition0] [float] NOT NULL,
	[d7_pipPosition1] [float] NOT NULL,
	[d7_pipPosition2] [float] NOT NULL,
	[d7_stabilizedTipPosition0] [float] NOT NULL,
	[d7_stabilizedTipPosition1] [float] NOT NULL,
	[d7_stabilizedTipPosition2] [float] NOT NULL,
	[d7_timeVisible] [float] NOT NULL,
	[d7_tipPosition0] [float] NOT NULL,
	[d7_tipPosition1] [float] NOT NULL,
	[d7_tipPosition2] [float] NOT NULL,
	[d7_touchDistance] [float] NOT NULL,
	[d7_type] [int] NOT NULL,
	[d7_width] [float] NOT NULL,
	[d8_bases000] [float] NOT NULL,
	[d8_bases001] [float] NOT NULL,
	[d8_bases002] [float] NOT NULL,
	[d8_bases010] [float] NOT NULL,
	[d8_bases011] [float] NOT NULL,
	[d8_bases012] [float] NOT NULL,
	[d8_bases020] [float] NOT NULL,
	[d8_bases021] [float] NOT NULL,
	[d8_bases022] [float] NOT NULL,
	[d8_bases100] [float] NOT NULL,
	[d8_bases101] [float] NOT NULL,
	[d8_bases102] [float] NOT NULL,
	[d8_bases110] [float] NOT NULL,
	[d8_bases111] [float] NOT NULL,
	[d8_bases112] [float] NOT NULL,
	[d8_bases120] [float] NOT NULL,
	[d8_bases121] [float] NOT NULL,
	[d8_bases122] [float] NOT NULL,
	[d8_bases200] [float] NOT NULL,
	[d8_bases201] [float] NOT NULL,
	[d8_bases202] [float] NOT NULL,
	[d8_bases210] [float] NOT NULL,
	[d8_bases211] [float] NOT NULL,
	[d8_bases212] [float] NOT NULL,
	[d8_bases220] [float] NOT NULL,
	[d8_bases221] [float] NOT NULL,
	[d8_bases222] [float] NOT NULL,
	[d8_bases300] [float] NOT NULL,
	[d8_bases301] [float] NOT NULL,
	[d8_bases302] [float] NOT NULL,
	[d8_bases310] [float] NOT NULL,
	[d8_bases311] [float] NOT NULL,
	[d8_bases312] [float] NOT NULL,
	[d8_bases320] [float] NOT NULL,
	[d8_bases321] [float] NOT NULL,
	[d8_bases322] [float] NOT NULL,
	[d8_btipPosition0] [float] NOT NULL,
	[d8_btipPosition1] [float] NOT NULL,
	[d8_btipPosition2] [float] NOT NULL,
	[d8_carpPosition0] [float] NOT NULL,
	[d8_carpPosition1] [float] NOT NULL,
	[d8_carpPosition2] [float] NOT NULL,
	[d8_dipPosition0] [float] NOT NULL,
	[d8_dipPosition1] [float] NOT NULL,
	[d8_dipPosition2] [float] NOT NULL,
	[d8_direction0] [float] NOT NULL,
	[d8_direction1] [float] NOT NULL,
	[d8_direction2] [float] NOT NULL,
	[d8_extended] [varchar](50) NOT NULL,
	[d8_handId] [int] NOT NULL,
	[d8_id] [int] NOT NULL,
	[d8_length] [float] NOT NULL,
	[d8_mcpPosition0] [float] NOT NULL,
	[d8_mcpPosition1] [float] NOT NULL,
	[d8_mcpPosition2] [float] NOT NULL,
	[d8_pipPosition0] [float] NOT NULL,
	[d8_pipPosition1] [float] NOT NULL,
	[d8_pipPosition2] [float] NOT NULL,
	[d8_stabilizedTipPosition0] [float] NOT NULL,
	[d8_stabilizedTipPosition1] [float] NOT NULL,
	[d8_stabilizedTipPosition2] [float] NOT NULL,
	[d8_timeVisible] [float] NOT NULL,
	[d8_tipPosition0] [float] NOT NULL,
	[d8_tipPosition1] [float] NOT NULL,
	[d8_tipPosition2] [float] NOT NULL,
	[d8_touchDistance] [float] NOT NULL,
	[d8_type] [bit] NOT NULL,
	[d8_width] [float] NOT NULL,
	[d9_bases000] [float] NOT NULL,
	[d9_bases001] [float] NOT NULL,
	[d9_bases002] [float] NOT NULL,
	[d9_bases010] [float] NOT NULL,
	[d9_bases011] [float] NOT NULL,
	[d9_bases012] [float] NOT NULL,
	[d9_bases020] [float] NOT NULL,
	[d9_bases021] [float] NOT NULL,
	[d9_bases022] [float] NOT NULL,
	[d9_bases100] [float] NOT NULL,
	[d9_bases101] [float] NOT NULL,
	[d9_bases102] [float] NOT NULL,
	[d9_bases110] [float] NOT NULL,
	[d9_bases111] [float] NOT NULL,
	[d9_bases112] [float] NOT NULL,
	[d9_bases120] [float] NOT NULL,
	[d9_bases121] [float] NOT NULL,
	[d9_bases122] [float] NOT NULL,
	[d9_bases200] [float] NOT NULL,
	[d9_bases201] [float] NOT NULL,
	[d9_bases202] [float] NOT NULL,
	[d9_bases210] [float] NOT NULL,
	[d9_bases211] [float] NOT NULL,
	[d9_bases212] [float] NOT NULL,
	[d9_bases220] [float] NOT NULL,
	[d9_bases221] [float] NOT NULL,
	[d9_bases222] [float] NOT NULL,
	[d9_bases300] [float] NOT NULL,
	[d9_bases301] [float] NOT NULL,
	[d9_bases302] [float] NOT NULL,
	[d9_bases310] [float] NOT NULL,
	[d9_bases311] [float] NOT NULL,
	[d9_bases312] [float] NOT NULL,
	[d9_bases320] [float] NOT NULL,
	[d9_bases321] [float] NOT NULL,
	[d9_bases322] [float] NOT NULL,
	[d9_btipPosition0] [float] NOT NULL,
	[d9_btipPosition1] [float] NOT NULL,
	[d9_btipPosition2] [float] NOT NULL,
	[d9_carpPosition0] [float] NOT NULL,
	[d9_carpPosition1] [float] NOT NULL,
	[d9_carpPosition2] [float] NOT NULL,
	[d9_dipPosition0] [float] NOT NULL,
	[d9_dipPosition1] [float] NOT NULL,
	[d9_dipPosition2] [float] NOT NULL,
	[d9_direction0] [float] NOT NULL,
	[d9_direction1] [float] NOT NULL,
	[d9_direction2] [float] NOT NULL,
	[d9_extended] [varchar](50) NOT NULL,
	[d9_handId] [int] NOT NULL,
	[d9_id] [int] NOT NULL,
	[d9_length] [float] NOT NULL,
	[d9_mcpPosition0] [float] NOT NULL,
	[d9_mcpPosition1] [float] NOT NULL,
	[d9_mcpPosition2] [float] NOT NULL,
	[d9_pipPosition0] [float] NOT NULL,
	[d9_pipPosition1] [float] NOT NULL,
	[d9_pipPosition2] [float] NOT NULL,
	[d9_stabilizedTipPosition0] [float] NOT NULL,
	[d9_stabilizedTipPosition1] [float] NOT NULL,
	[d9_stabilizedTipPosition2] [float] NOT NULL,
	[d9_timeVisible] [float] NOT NULL,
	[d9_tipPosition0] [float] NOT NULL,
	[d9_tipPosition1] [float] NOT NULL,
	[d9_tipPosition2] [float] NOT NULL,
	[d9_touchDistance] [float] NOT NULL,
	[d9_type] [int] NOT NULL,
	[d9_width] [float] NOT NULL,
	[d10_confidence] [bit] NOT NULL,
	[d10_direction0] [float] NOT NULL,
	[d10_direction1] [float] NOT NULL,
	[d10_direction2] [float] NOT NULL,
	[d10_grabAngle] [float] NOT NULL,
	[d10_grabStrength] [bit] NOT NULL,
	[d10_palmNormal0] [float] NOT NULL,
	[d10_palmNormal1] [float] NOT NULL,
	[d10_palmNormal2] [float] NOT NULL,
	[d10_palmPosition0] [float] NOT NULL,
	[d10_palmPosition1] [float] NOT NULL,
	[d10_palmPosition2] [float] NOT NULL,
	[d10_palmWidth] [float] NOT NULL,
	[d10_pinchDistance] [float] NOT NULL,
	[d10_pinchStrength] [float] NOT NULL,
	[d10_stabilizedPalmPosition0] [float] NOT NULL,
	[d10_stabilizedPalmPosition1] [float] NOT NULL,
	[d10_stabilizedPalmPosition2] [float] NOT NULL,
	[d10_timeVisible] [float] NOT NULL,
	[d10_type] [varchar](50) NOT NULL,
	[d11_confidence] [float] NOT NULL,
	[d11_direction0] [float] NOT NULL,
	[d11_direction1] [float] NOT NULL,
	[d11_direction2] [float] NOT NULL,
	[d11_grabAngle] [float] NOT NULL,
	[d11_grabStrength] [bit] NOT NULL,
	[d11_palmNormal0] [float] NOT NULL,
	[d11_palmNormal1] [float] NOT NULL,
	[d11_palmNormal2] [float] NOT NULL,
	[d11_palmPosition0] [float] NOT NULL,
	[d11_palmPosition1] [float] NOT NULL,
	[d11_palmPosition2] [float] NOT NULL,
	[d11_palmWidth] [float] NOT NULL,
	[d11_pinchDistance] [float] NOT NULL,
	[d11_pinchStrength] [bit] NOT NULL,
	[d11_stabilizedPalmPosition0] [float] NOT NULL,
	[d11_stabilizedPalmPosition1] [float] NOT NULL,
	[d11_stabilizedPalmPosition2] [float] NOT NULL,
	[d11_timeVisible] [float] NOT NULL,
	[d11_type] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[d0_bases000] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
